<p>
	<a href="#/" class="btn btn-default">Back</a>
</p>

<h1>Tasty rank!</h1>

<h2>{{local.nombre}}</h2>

<form ng-submit="saveScore($event)" id="scoreForm">
	<div class="col-xs-12 col-sm-6 col-sm-offset-3">
		<div class="row">
			<div class="col-xs-12 col-sm-3">
				<div class="form-group">
					<label for="score_comida">Comida</label>
					<input type="number" step="any" required max="10" min="0" name="score_comida" id="score_comida" class="form-control">
				</div>
			</div>
			<div class="col-xs-12 col-sm-3">
				<div class="form-group">
					<label for="score_comida">Servicio</label>
					<input type="number" step="any" required max="10" min="0" name="score_servicio" id="score_servicio" class="form-control">
				</div>
			</div>
			<div class="col-xs-12 col-sm-3">
				<div class="form-group">
					<label for="score_comida">Extras</label>
					<input type="number" step="any" required max="10" min="0" name="score_extras" id="score_extras" class="form-control">
				</div>
			</div>
			<div class="col-xs-12 col-sm-3">
				<div class="form-group">
					<div class="hidden-xs">
						<label for="" class="control-label">&nbsp;</label>
					</div>
					<button class="btn btn-primary">Score!</button>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</form>
